@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 
 @import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #DC143C;
  --color-secondary: #1E93AB;
}



* {
  font-family: "Inter", sans-serif;
    font-style: normal;
}


a.active{
 text-decoration: underline;
}